* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Merienda, sans-serif;
}

.main-header {
  background-image: url(../img/main-background.png);
  background-size: cover;
  text-align: center;
  padding: 30px 0 200px 0;
}
.main-header h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  margin-top: 110px;
}
.main-header button {
  width: 120px;
  height: 30px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin-top: 30px;
  font-family: Merienda;
  font-size: 14px;
  color: #FFFFFF;
  cursor: pointer;
}

.main-header-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
}

.menu {
  width: 800px;
  margin: 0 auto;
  text-align: left;
}
.menu img {
  height: 35px;
  width: 35px;
  object-fit: contain;
  object-position: center;
}
.menu a {
  color: #FFFFFF;
  margin: 0 10px;
  font-size: 12px;
  line-height: 17px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.beans-logo-white, .beans-logo-black {
  display: flex;
  justify-content: center;
  align-items: center;
}
.beans-logo-white img, .beans-logo-black img {
  margin: 20px 25px;
  width: 30px;
  height: 30px;
  object-fit: contain;
  object-position: center;
}

.beans-logo-black {
  filter: grayscale(0) invert(1);
}

.beans-line {
  width: 60px;
  height: 1px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.about-us {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}
.about-us h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}
.about-us p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.our-best {
  background-image: url(../img/background2.png);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 110px;
  text-align: center;
}
.our-best h2 {
  font-size: 24px;
  line-height: 35px;
}

.product {
  justify-content: center;
  align-items: center;
}
.product a {
  text-decoration: none;
}

.best-price {
  margin: 30px;
  padding: 22px 0;
  background: rgba(255, 255, 255, 0.65);
  border-radius: 8px;
  display: inline-block;
}

.image-goods img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  object-position: center;
  margin: 0 35px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}

.origin {
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
}

.price {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
}

.footer {
  background-color: #ffffff;
  font-size: 12px;
  line-height: 17px;
  padding-top: 30px;
  text-align: center;
}
.footer a {
  color: #000000;
  margin: 0 10px;
  text-decoration: none;
}
.footer img {
  height: 35px;
  width: 35px;
  object-fit: contain;
  object-position: center;
}

.our-cofee-heder, .for-you-heder, .contact-us-heder {
  background-size: cover;
  text-align: center;
  padding: 30px 0 85px 0;
}
.our-cofee-heder h1, .for-you-heder h1, .contact-us-heder h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  margin-top: 60px;
}

.our-cofee-heder {
  background-image: url(../img/our-cofee-head.png);
}

.for-you-heder {
  background-image: url(../img/for-you-header.jpg);
}

.wrapper {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.about {
  display: flex;
  padding: 70px 100px 0 100px;
}

.img-block img {
  width: 272px;
  height: 355px;
  object-fit: contain;
  object-position: center;
}

.text-block {
  text-align: center;
  padding-left: 50px;
}
.text-block h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}
.text-block p {
  font-style: bold;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.about-beans-line {
  width: 240px;
  height: 1px;
  background: black;
  margin: 60px auto;
}

.searching {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.searching p {
  display: inline-block;
  margin-right: 35px;
}

.search input {
  display: inline-block;
  width: 180px;
  padding: 6px 0;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 4px;
  font-family: Merienda;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
}

.filter-btm-left, .filter-btm-middle, .filter-btm-right {
  font-family: Merienda;
  font-size: 12px;
  line-height: 17px;
  background: #FFFFFF;
  border: 0;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 7px 20px 5px;
  margin-right: 5px;
  cursor: pointer;
}

.filter-btm-left {
  border-radius: 4px 0 0 4px;
}

.filter-btm-middle {
  border-radius: 0;
}

.filter-btm-right {
  border-radius: 0 4px 4px 0;
}

.filter {
  display: inline-block;
  padding-left: 80px;
}

.goods {
  text-align: center;
}

.goods-price {
  margin: 30px;
  padding: 22px 0;
  background: white;
  border-radius: 8px;
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.contact-us-heder {
  background-image: url(../img/contact-us-head.png);
}

.form-wrapper {
  margin: 60px auto 30px;
  padding: 30px 0;
  width: 420px;
  font-size: 18px;
  line-height: 26px;
}
.form-wrapper input {
  width: 220px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.49);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: Merienda;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
}
.form-wrapper span {
  color: red;
}

.user-name {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.user-mail {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.user-phone {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.text-area {
  padding: 30px 0;
}
.text-area textarea {
  font-family: Merienda;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  width: 310px;
  height: 80px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.49);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  outline: none;
}

.send-button button {
  width: 120px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.49);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.about-wrapper {
  width: 900px;
  padding: 70px 0 30px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.about-img-block img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.about-text-block {
  text-align: center;
  padding-left: 50px;
}
.about-text-block h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}
.about-text-block p {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}
.about-text-block span {
  font-size: 14px;
  font-weight: bold;
}

.price-about p {
  font-size: 24px;
}

/*# sourceMappingURL=style.css.map */
